alabaster==0.7.12
alembic==1.8.1
arrow==1.2.3
asttokens==2.1.0
atomicwrites==1.4.1
attrs==22.1.0
Babel==2.10.3
backcall==0.2.0
backports.zoneinfo==0.2.1
Beaker==1.11.0
beautifulsoup4==4.11.1
binaryornot==0.4.4
bleach==5.0.1
blinker==1.5
build==0.9.0
certifi==2021.10.8
chardet==5.0.0
charset-normalizer==2.0.12
-e git+https://github.com/ckan/ckan.git@231686c2641b91694fa47e9d9322c4af3a7a8ee2#egg=ckan
click==8.1.3
click-default-group==1.2.2
colorama==0.4.6
commonmark==0.9.1
cookiecutter==2.1.1
coverage==6.5.0
coveralls==3.3.1
decorator==5.1.1
Deprecated==1.2.13
docopt==0.6.2
docutils==0.17
dominate==2.7.0
executing==1.2.0
factory-boy==3.2.1
Faker==14.2.0
feedgen==0.9.0
Flask==2.0.3
Flask-Babel==1.0.0
Flask-DebugToolbar==0.13.1
Flask-Login==0.6.1
flask-multistatic==1.0
Flask-WTF==1.0.1
freezegun==1.2.2
frictionless==4.40.8
future==0.18.2
greenlet==1.1.2
idna==3.3
imagesize==1.4.1
importlib-metadata==4.11.3
importlib-resources==5.10.0
incremental==22.10.0
inflection==0.5.1
iniconfig==1.1.1
ipdb==0.13.9
ipython==8.6.0
isodate==0.6.1
itsdangerous==2.1.1
jedi==0.18.2
Jinja2==3.1.2
jinja2-time==0.2.0
jsonschema==4.17.0
lxml==4.9.1
Mako==1.2.2
Markdown==3.4.1
marko==1.2.2
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
mock==2.0.0
more-itertools==9.0.0
mypy==0.971
mypy-extensions==0.4.3
nose==1.3.7
numpy==1.23.5
packaging==21.3
pandas==1.5.1
parso==0.8.3
passlib==1.7.4
pbr==5.11.0
pep517==0.13.0
petl==1.7.11
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pip-tools==6.8.0
pkg_resources==0.0.0
pkgutil_resolve_name==1.3.10
pluggy==0.13.1
polib==1.1.1
poyo==0.5.0
prompt-toolkit==3.0.33
psycopg2==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pycodestyle==2.5.0
pyfakefs==3.2
Pygments==2.13.0
PyJWT==2.4.0
pyparsing==3.0.7
pyrsistent==0.19.2
pysolr==3.9.0
pytest==7.1.3
pytest-cov==3.0.0
pytest-factoryboy==2.4.0
pytest-freezegun==0.4.2
pytest-rerunfailures==10.2
pytest-split==0.8.0
pytest-split-tests==1.0.9
python-dateutil==2.8.2
python-magic==0.4.27
python-slugify==7.0.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyUtilib==6.0.0
PyYAML==6.0
redis==4.1.4
requests==2.28.1
responses==0.21.0
rfc3986==2.0.0
rich==12.6.0
rq==1.11.0
shellingham==1.5.0
simpleeval==0.9.12
simplejson==3.17.6
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==5.1.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
SQLAlchemy==1.4.41
sqlalchemy-stubs==0.4
sqlalchemy2-stubs==0.0.2a27
sqlparse==0.4.2
stack-data==0.6.1
stringcase==1.2.0
tabulate==0.9.0
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
towncrier==22.8.0
traitlets==5.5.0
typer==0.7.0
typing_extensions==4.3.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
validators==0.20.0
watchdog==2.1.6
wcwidth==0.2.5
webassets==2.0
webencodings==0.5.1
Werkzeug==2.0.3
whichcraft==0.6.1
wrapt==1.14.0
WTForms==3.0.1
zipp==3.7.0
zope.interface==5.4.0
