<div id="additional-app">
  <input type="hidden" ref="packageId" value="{{ pkg_dict.id }}">
  <h3>{{ _('Contributors') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Type') }}</th>
        <th scope="col">{{ _('Name') }}</th>
        <th scope="col">{{ _('E-mail') }}</th>
        <th scope="col">{{ _('URL') }}</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="contributor in contributors">
        <td>
          [[ contributor.type ]]
        </td>
        <td>
          [[ contributor.name ]]
        </td>
        <td>
          [[ contributor.email ]]
        </td>
        <td>
          [[ contributor.url ]]
        </td>
      </tr>
    </tbody>
  </table>
  <h3>{{ _('Additional Info') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
      {% if pkg_dict.url %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Source') }}</th>
            {% if h.is_url(pkg_dict.url) %}
              <td class="dataset-details" property="foaf:homepage">
                <a href="{{ pkg_dict.url }}" rel="foaf:homepage" target="_blank">
                  {{ pkg_dict.url }}
                </a>
              </td>
            {% else %}
              <td class="dataset-details" property="foaf:homepage">{{ pkg_dict.url }}</td>
            {% endif %}
          </tr>
        {% endif %}

        {% if pkg_dict.author_email %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Author") }}</th>
            <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author) }}</td>
          </tr>
        {% elif pkg_dict.author %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Author") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.author }}</td>
          </tr>
        {% endif %}

        {% if pkg_dict.maintainer_email %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
            <td class="dataset-details" property="dc:contributor">{{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer) }}</td>
          </tr>
        {% elif pkg_dict.maintainer %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
            <td class="dataset-details" property="dc:contributor">{{ pkg_dict.maintainer }}</td>
          </tr>
        {% endif %}

        {% if pkg_dict.version %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Version") }}</th>
            <td class="dataset-details">{{ pkg_dict.version }}</td>
          </tr>
        {% endif %}

        {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("State") }}</th>
            <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.metadata_modified %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Last Updated") }}</th>
            <td class="dataset-details">
                {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_modified %}
            </td>
          </tr>
        {% endif %}
        {% if pkg_dict.metadata_created %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Created") }}</th>

            <td class="dataset-details">
                {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_created %}
            </td>
          </tr>
        {% endif %}
        {% for extra in extras %}
          {% set key, value = extra %}
          <tr rel="dc:relation" resource="_:extra{{ i }}">
            <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key|e) }}</th>
            <td class="dataset-details" property="rdf:value">{{ value }}</td>
          </tr>
        {% endfor %}
        <tr v-if="frequency">
          <th scope="row" class="dataset-label" property="rdfs:label">{{ _('Frequency') }}</th>
          <td class="dataset-details" property="rdf:value">[[ frequency ]]</td>
        </tr>
        <tr v-if="profile">
          <th scope="row" class="dataset-label" property="rdfs:label">{{ _('Profile') }}</th>
          <td class="dataset-details" property="rdf:value">[[ profile ]]</td>
        </tr>
        <tr>
          <th scope="row" class="dataset-label" property="rdfs:label">Datapackage JSON</th>
          <td class="dataset-details" property="rdf:value">
            <a href="/datapackage-creator/show-datapackage-json/{{ pkg_dict.id }}" target="_blank">
              /datapackage-creator/show-datapackage-json/{{ pkg_dict.id }}
            </a>
          </td>
        </tr>
    </tbody>
  </table>
</div>
