<div id="vue-app">
    <input type="hidden" ref="packageName" value="{{ pkg_name }}">
    <div v-for="resource in resources">
        <p class="alert alert-danger" v-if="resource.has_error">
            [[ resource.error_summary ]]
        </p>
        <p style="text-align: right;">
            <button @click="saveResource(resource)" class="btn btn-primary">
                <i class="fa fa-save"></i>
            </button>
            <button @click="deleteResource(resource)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
            </button>
            <button @click="toggleResource(resource)" class="btn btn-secondary">
                <i class="fa fa-arrow-down" v-if="resource.show"></i>
                <i class="fa fa-arrow-up" v-else></i>
            </button>
        </p>
        <div v-if="resource.show">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group control-full control-large">
                        <label class="form-label" for="field-title">File</label>
                        <div class="controls ">
                            <input :ref="'file_' + resource.index" id="field-file" type="file" name="file" value="" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="d-grid gap-2">
                        <button style="margin-top: 28px;" @click="uploadFile(resource)" class="btn btn-success">Load</button>
                    </div>
                </div>
            </div>
            <div class="row" v-if="resource.show_fields">
                <div class="col-md-4" v-if="isDataResource(resource)">
                    <div class="card">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">[[ resource.inference.metadata.format ]]</text></svg>
                    </div>
                </div>
                <div class="col-md-4" v-for="field in resource.fields" v-else>
                    <div class="panel panel-default" style="padding: 15px;">
                        <div class="panel-heading">
                            <div class="form-group" style="margin-bottom: 0px;">
                                <input type="text" v-model="field.name" readonly class="form-control">
                            </div>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li v-for="row in field.rows.slice(0, 5)" class="list-group-item">[[ row ]]</li>
                            </li>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <input placeholder="Title" type="text" v-model="field.title" readonly class="form-control">
                            </div>
                        </div>
                        <div class="panel-footer text-center">
                            <button v-on:click="editMetadata(resource, field)" class="btn btn-primary">Edit Metadata</button>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset v-else>
                <legend>Metadata</legend>
                <div class="row">
                    <div class="col-md-6" style="padding: 0px 10px;">
                        <div class="controls">
                            <label class="form-label" for="field-title">Title</label>
                            <div class="form-group">
                                <input type="text" class="form-control" v-model="resource.current_field.title">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding: 0px 10px;">
                        <div class="controls">
                            <label class="form-label" for="field-title">Required</label>
                            <div class="form-group">
                                <select v-model="resource.current_field.required" class="form-control" id="">
                                    <option v-for="boolean in booleanOptions" :value="boolean.value">[[ boolean.text ]]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding: 0px 10px;">
                        <div class="controls">
                            <label class="form-label" for="field-title">Description</label>
                            <div class="form-group">
                                <input type="text" class="form-control" v-model="resource.current_field.description">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding: 0px 10px;">
                        <div class="controls">
                            <label class="form-label" for="field-title">Unique</label>
                            <div class="form-group">
                                <select v-model="resource.current_field.unique" class="form-control" id="">
                                    <option v-for="boolean in booleanOptions" :value="boolean.value">[[ boolean.text ]]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding: 0px 10px;">
                        <div class="controls">
                            <label class="form-label" for="field-title">Type</label>
                            <div class="form-group">
                                <select v-model="resource.current_field.type" class="form-control" id="">
                                    <option v-for="type in typeFieldOptions" :value="type">[[ type ]]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding: 0px 10px;">
                        <div class="controls">
                            <label class="form-label" for="field-title">Format</label>
                            <div class="form-group">
                                <select v-model="resource.current_field.format" class="form-control" id="">
                                    <option v-for="format in getFormatOptions(resource.current_field.type)" :value="format">[[ format ]]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <p style="text-align: right;">
                    <button v-on:click="saveMetadata(resource)" class="btn btn-primary">
                        <i class="fa fa-save"></i> Save
                    </button>
                </p>
            </fieldset>
            <div class="form-group control-full control-large">
                <label class="form-label" for="field-title">Name</label>
                <div class="controls ">
                    <div class="form-group">
                        <input type="text" v-model="resource.name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group control-full control-large">
                <label class="form-label" for="field-title">Description</label>
                <div class="controls ">
                    <div class="form-group">
                        <textarea v-model="resource.description" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="form-group control-full control-large">
                        <label class="form-label" for="field-title">Format</label>
                        <div class="controls ">
                            <div class="form-group">
                                <input v-model="resource.format" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="form-group control-full control-large">
                        <label class="form-label" for="field-title">Type</label>
                        <div class="controls ">
                            <div class="form-group">
                                <select v-model="resource.type" class="form-control" id="">
                                    <option v-for="type in typeOptions" :value="type.value">[[ type.text ]]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="form-group control-full control-large">
                        <label class="form-label" for="field-title">Encoding</label>
                        <div class="controls ">
                            <div class="form-group">
                                <input v-model="resource.encoding" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p style="text-align: right;">
        <button @click="addResource" class="btn btn-primary">Adicionar Recurso</button>
    </p>
</div>